body {
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template: env(titlebar-area-height, 40px) 1fr auto auto 1fr / auto auto 1fr 1fr;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    grid-area: 3 / 1 / 5 / 3;
    background-color: var(--nav-background);
    border-radius: 0 1rem 1rem 0 ;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: .1rem 1rem 1.5rem 1rem;
}

bubble-picture {
    grid-area: 1 / 1 / -1 / -1;
}

.bubble-logo {
    height: 3.5rem;
}

button {
    background-color: hsla(192, 100%, 30%, 80%);
    color: white;
    padding: .5rem;
    margin: 1rem;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

[type="file"] + label {
    background-color: hsla(192, 100%, 30%, 80%);
    color: white;
    padding: .5rem;
    margin: 1rem;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }

.titlebar-area {
    grid-area: 1 / 1 / 2 / 5;
    width: env(titlebar-area-width, 100%);
    -webkit-app-region: drag;
    app-region: drag;
}

.menu-handle {
    /* margin-bottom: 1.5rem; */
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

